<div class="settings_bg"></div>
<div class="row panel">
    <!-- <div class="saveicon right">
        <i class="fi-cloud"></i>
    </div> -->
    <div class="columns large-12">
        <h3>Manage Settings</h3>
        <hr id="editsetting">
        <!-- New/Edit Setting -->
        <h5 ng-if="selectedSetting">Edit Setting</h5>
        <h5 ng-if="!selectedSetting">New Setting</h5>
        <div class="row">
            <!-- Key -->
            <div class="columns medium-3">
                <label>Key
                    <input type="text" ng-model="setting.key"/>
                </label>
            </div>

            <!-- Value -->
            <div class="columns medium-3">
                <label>Value
                    <input ng-if="setting.type == 'string'" type="text" ng-model="setting.value"/>
                    <input ng-if="setting.type == 'number'" type="number" ng-model="setting.value"/>
                    <input ng-if="setting.type == 'null'" placeholder="null" disabled/>
                </label>
                <div class="row" ng-if="setting.type == 'boolean'">
                    <div class="columns medium-5 small-3">
                        <span class="switch">
                            <input id="boolean" type="checkbox" ng-model="setting.value">
                            <label for="boolean"></label>
                        </span>
                    </div>
                    <div class="columns medium-7 small-9">
                        <input type="text" placeholder="{{setting.value}}" disabled/>
                    </div>
                </div>
            </div>

            <!-- Type -->
            <div class="columns medium-2">
                <label>Type
                    <select ng-model="setting.type"
                        ng-options="option for option in typeOptions"
                        ng-change="changeType()"
                    ></select>
                </label>
            </div>

            <!-- Group -->
            <div class="columns medium-2">
                <label>Group
                    <select ng-model="setting.group"
                        ng-options="group.id as group.name for group in groups"
                    ></select>
                </label>
            </div>

            <!-- Buttons -->
            <div class="columns medium-2">
                <label>
                    <!-- <i class="fi-wrench"></i>&nbsp Edit -->
                    &nbsp
                </label>

                <div class="row" ng-if="setting.id == undefined">
                    <div class="columns small-6">
                        <!-- <label><i class="fi-plus"></i></label> -->
                        <a ng-click="createSetting(setting)" class="button tiny">Create</a>
                    </div>
                </div>

                <div class="row" ng-if="setting.id !== undefined">
                    <div class="columns small-6">
                        <!-- <label><i class="fi-plus"></i></label> -->
                        <a ng-click="updateSetting(setting)" class="button tiny">Update</a>
                    </div>
                    <div class="columns small-6">
                        <!-- <label><i class="fi-x"></i></label> -->
                        <a ng-click="deleteSetting(setting)" class="button alert tiny">Delete</a>
                    </div>
                </div>

            </div>
        </div>

        <hr id="editgroup">
        <!-- Edit/New Group -->
        <h5 ng-if="selectedGroup">Edit Group</h5>
        <h5 ng-if="!selectedGroup">New Group</h5>
        <div class="row">
            <!-- Name -->
            <div class="columns medium-3">
                <label>Name
                    <input type="text" ng-model="group.name"/>
                </label>
            </div>

            <!-- Group -->
            <div class="columns medium-3">
                <label ng-if="group.parent || !selectedGroup">Parent
                    <!-- <select ng-model="group.parent"
                        ng-options="group.id as group.name for group in groups"
                    ></select> -->
                    <select ng-model="group.parent"
                        ng-options="group.id as group.name for group in groups
                        | filter:groupOptionsFilter:true"
                    ></select>
                </label>
                </label>
            </div>

            <!-- Buttons -->
            <div class="columns medium-2">
                <label>
                    <!-- <i class="fi-wrench"></i>&nbsp Edit -->
                    &nbsp
                </label>

                <div class="row" ng-if="group.id == undefined">
                    <div class="columns small-6">
                        <!-- <label><i class="fi-plus"></i></label> -->
                        <a ng-click="createGroup(group)" class="button tiny">Create</a>
                    </div>
                </div>

                <div class="row" ng-if="group.id !== undefined">
                    <div class="columns small-6">
                        <!-- <label><i class="fi-plus"></i></label> -->
                        <a ng-click="updateGroup(group)" class="button tiny">Update</a>
                    </div>
                    <div class="columns small-6">
                        <!-- <label><i class="fi-x"></i></label> -->
                        <a ng-if="group.parent" ng-click="deleteGroup(group)" class="button alert tiny">Delete</a>
                    </div>
                </div>

            </div>
        </div>

        <hr>
        <div class="row">
            <!-- Groups -->
            <div class="columns medium-6">
                <div class="row">
                    <div class="columns small-12">
                        <h4>Groups</h4>
                    </div>
                </div>
                <!-- group tree START -->
                <div class="row grouptree">
                    <div class="columns small-12">
                        <script type="text/ng-template"  id="tree_item_renderer.html">
                            <span><i class="fi-play rotate90" ng-click="toggleNode(data)" ng-show="data.show && data.nodes.length > 0"></i></span>
                            <i class="fi-play" ng-click="toggleNode(data)" ng-show="!data.show && data.nodes.length > 0"></i>
                            <span ng-click="selectGroup(data)" ng-class="{selected: selectedGroup == data}">
                                {{data.name}}
                            </span>
                            <a ng-if="selectedGroup == data" ng-click="goToEditGroup()" class="button tiny"><i class="fi-wrench"></i>&nbsp Edit</a>
                            <a ng-if="selectedGroup == data" ng-click="initEditGroup()" class="button tiny secondary"><i class="fi-x"></i>&nbsp Cancel</a>
                            <ul ng-show="data.show">
                                <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
                            </ul>
                        </script>
                        <ul>
                            <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
                        </ul>
                    </div>
                </div>
                <!-- group tree END -->
                <hr>
            </div> <!-- column -->

            <!-- Settings -->
            <div class="columns medium-6">
                <div class="row">
                    <div class="columns small-3">
                        <h4>Settings
                    </h4>
                    </div>
                    <!-- <div class="columns small-6">
                        <a ng-if="groupFilter.group !== undefined" ng-click="clearFilter()" class="button tiny secondary"><i class="fi-x"></i>&nbsp Clear Group Filter</a>
                    </div> -->
                    <div class="columns small-9">
                        <div class="row collapse">
                            <div class="columns small-6">
                                <!-- <label>&nbsp</label> -->
                                <a ng-if="groupFilter.group !== undefined" ng-click="clearFilter()" class="button tiny secondary right"><i class="fi-x"></i>&nbsp Filter by</a>
                            </div>
                            <div class="columns small-6">
                                <!-- <label>Group Filter -->
                                    <select ng-model="groupFilter.group"
                                        ng-options="group.id as group.name for group in groups"
                                    ></select>
                                <!-- </label> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="columns medium-4 small-7">
                        <label>Group Filter
                            <select ng-model="groupFilter.group"
                                ng-options="group.id as group.name for group in groups"
                            ></select>
                        </label>
                    </div>
                    <div class="columns medium-8 small-5">
                        <label>&nbsp</label>
                        <a ng-if="groupFilter.group !== undefined" ng-click="clearFilter()" class="button tiny secondary"><i class="fi-x"></i>&nbsp Clear Filter</a>
                    </div>
                </div> -->

                <div class="editlist" ng-repeat="setting in settings | filter:groupFilter:true">
                    <span ng-click="selectSetting(setting)" ng-class="{selected: selectedSetting == setting}">
                        {{setting.key}} : {{setting.value}}
                    </span>
                    <a ng-if="selectedSetting == setting" ng-click="goToEditSetting()" class="button tiny"><i class="fi-wrench"></i>&nbsp Edit</a>
                    <a ng-if="selectedSetting == setting" ng-click="initEditSetting()" class="button tiny secondary"><i class="fi-x"></i>&nbsp Cancel</a>
                </div>

                <!-- <table>
                <tbody>
                <tr class="editlist {selected: selectedSetting == setting}" ng-repeat="setting in settings | filter:groupFilter" ng-click="selectSetting(setting)">
                    <td>
                        {{setting.key}}
                    </td>
                    <td>
                        {{setting.value}}
                    </td>
                    <td>
                        <a ng-if="selectedSetting == setting" ng-click="gotoEdit()" class="button tiny"><i class="fi-wrench"></i>&nbsp Edit</a>
                        <a ng-if="selectedSetting == setting" ng-click="initEditSetting()" class="button tiny secondary"><i class="fi-x"></i>&nbsp Cancel</a>
                    </td>
                </tr>
                </tbody>
                </table> -->

            </div> <!-- column -->
        </div> <!-- row -->
    </div>
</div>
