<div class="settings_bg"></div>
<div class="row panel">
<!--     <div class="saveicon right">
        <i class="fi-cloud"></i>
    </div> -->
    <div class="columns large-12">
        <h3>Game Settings</h3>
        <div ng-include="'settings/partials/video.html'"></div>
        <div ng-include="'settings/partials/audio.html'"></div>
        <div ng-include="'settings/partials/gameplay.html'"></div>
        <div ng-include="'settings/partials/controls.html'"></div>
    </div>
</div>