.grouptree {

    ul {
        font-size: 1.25rem;
        list-style-type: none;
        margin-left: 6px;
        border-left: 1px solid lightgray;
    }

    ul:nth-child(2) {
        margin-left: 0px;
        margin-bottom: 0px;
        border-left: none; 
    }

    li {
        margin-left: 20px;
    }

    .columns {
        padding-left: 0px;
    }

}

// .grouptree.columns {
//     padding-left: 0px;
// }

.rotate90 {
    display: inline-block;
    @include rotate(90deg);
}
