@import 'variables';
@import 'grouptree';

body {
    // font-family: $font-main;
    // font-size: 48px;
    // text-shadow: 4px 4px 4px #aaa;
}

// Nav Icon
.navicon {
    max-height: 45px;

    i {
        font-size: 30px;
    }
    // padding-right: 35px !important;
}

.expanded {
    .navicon {
        padding: 0 0 12px .9375rem;
    }
}

// Save Icon
.panel {
    position: relative;
    // background-color: rgba(242,242,242,.9);
}

.saveicon {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 40px; //50px;
    width: 40px; //50px;
    background: #008CBA;
    text-align: center;
    padding-bottom: 15px;

    i {
        position: relative;
        font-size: 30px; //35px;
        color: #FFF;
        // top: -4px;
        // text-shadow: 1px 1px 4px #000;
    }
}

// Game Settings
select, input[type] {
    font-size: 1.25rem;
}

select {
    padding: 0 .5rem;
}

.editlist, .grouptree {
    font-size: 1.25rem;

    i {
        font-size: 1.25rem;
    }

    span {
        cursor: pointer;
    }

    .selected {
        border: 2px solid $button-bg-color;
        padding: .2rem;
    }

    .button {
        margin: 0;
        // padding: .625rem 1.25rem .6875rem;
        padding: .25rem .5rem;
        font-size: 1rem;
    }
}

.button.tiny {
    margin: 0;
    // margin-top: .4rem;
    // padding: .25rem .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1rem;
}

// Background Log
pre {
    // font-family: "Geo", Roboto, Arial, sans-serif;
    font-family: "VT323", Roboto, Arial, sans-serif;
    // font-family: "Press Start 2P", Roboto, Arial, sans-serif;
    font-size: 12px;
    color: lime;
    opacity: 0.75;
    text-shadow: 4px 4px 4px #000;

    position: fixed;
    // top: 0;
    // right: 0;
    bottom: 0;
    // left: 0;

    
    z-index:-995;
    // width: 100%;




    // transform-origin: 50% 100%;
    // transform: perspective(300px) rotateX(15deg);
    // font-size: 25px;
}

// Backgrounds
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    z-index:-999;
    // transition: opacity .25s ease-out;
}

.metaverse_bg {
    @extend .fullscreen_bg;
    background-image: url(/assets/images/grid.jpg);
}

.settings_bg {
    @extend .fullscreen_bg;
    background-image: url(/assets/images/office.jpg);
}

.video_bg {
    @extend .fullscreen_bg;
    background-image: url(/assets/images/bridge.jpg);
}

.audio_bg {
    @extend .fullscreen_bg;
    background-image: url(/assets/images/tubes.jpg);
}

.gameplay_bg {
    @extend .fullscreen_bg;
    background-image: url(/assets/images/night2.jpg);
}

.controls_bg {
    @extend .fullscreen_bg;
    background-image: url(/assets/images/cyber.jpg);
}

.shaderframe {
    overflow: hidden;
    margin: auto;
    max-width: 800px;
    max-height: 444px;
    // border: 1px solid rgb(201, 0, 1);

    background-image: url(/assets/images/staticgreen.gif);
    background-size: cover;

    // - vertical align -
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);

    // - rounded corners -
    // border-radius: 20px;
    // position:relative;  // bugfix overflow:hidden for iframe in Chrome browser
    iframe {
        border: 0px none;
        margin-top: -70px;
        margin-left: -100px;
        height: 550px;
        width: 2000px;
    }
}