<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Snow Crash UI</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"><a ui-sref="metaverse">Enter The Metaverse</a></li>
            <li class="has-dropdown">
                <a ui-sref="settings">Settings</a>
                <ul class="dropdown">
                    <li><a ui-sref="video">Video</a></li>
                    <li><a ui-sref="audio">Audio</a></li>
                    <li><a ui-sref="gameplay">Gameplay</a></li>
                    <li><a ui-sref="controls">Controls</a></li>
                </ul>
            </li>
            <li class="has-dropdown active">
                <a class="navicon" ui-sref="edit">
                    <i class="fi-widget"></i>
                </a>
                <ul class="dropdown">
                    <li><a ui-sref="edit">Manage Settings</a></li>
                </ul>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <!-- <ul class="left">
            <li><a href="#">Left Nav Button</a></li>
        </ul> -->
    </section>
</nav>