<div class="audio_bg"></div>
<div class="row panel settings">
    <!-- <div class="saveicon right">
        <i class="fi-cloud"></i>
    </div> -->
    <div class="columns large-12">
        <h3>Audio</h3><hr>

        <!-- left -->
        <div class="columns medium-6">

            <div class="row">
                <div class="columns small-6"><h4>Master Volume</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.masterVolume"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Music Volume</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.musicVolume"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>SFX Volume</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.sfxVolume"/>
                </div>
            </div>

        </div>


        <!-- right -->
        <div class="columns medium-6">

            <div class="row">
                <div class="columns small-6"><h4>Ambience Volume</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.ambienceVolume"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Voice Volume</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.voiceVolume"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>UI Volume</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.uiVolume"/>
                </div>
            </div>

        </div>
    </div>
</div>