<div class="controls_bg"></div>
<div class="row panel">
    <!-- <div class="saveicon right">
        <i class="fi-cloud"></i>
    </div> -->
    <div class="columns large-12">
        <h3>Controls</h3>
        <hr>
        <!-- left -->
        <div class="columns medium-6">
            <h4>Keyboard</h4>
            <hr>
            <div class="row">
                <div class="columns small-6"><h4>Move Forward</h4></div>
                <div class="columns small-6">
                    <input type="text" ng-model="settingsUI.moveForward"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Move Back</h4></div>
                <div class="columns small-6">
                    <input type="text" ng-model="settingsUI.moveBack"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Move Left</h4></div>
                <div class="columns small-6">
                    <input type="text" ng-model="settingsUI.moveLeft"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Move Right</h4></div>
                <div class="columns small-6">
                    <input type="text" ng-model="settingsUI.moveRight"/>
                </div>
            </div>

        </div>


        <!-- right -->
        <div class="columns medium-6">
            <h4>Mouse</h4>
            <hr>
            <div class="row">
                <div class="columns small-6"><h4>Invert Y-axis</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="invertY" type="checkbox" ng-model="settingsUI.mouseInvertY">
                      <label for="invertY"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Look Speed</h4></div>
                <div class="columns small-6">
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.mouseLookSpeed"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Smoothing</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="smoothing" type="checkbox" ng-model="settingsUI.mouseSmoothing">
                      <label for="smoothing"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>