<div class="gameplay_bg"></div>
<div class="row panel">
    <!-- <div class="saveicon right">
        <i class="fi-cloud"></i>
    </div> -->
    <div class="columns large-12">
        <h3>Gameplay</h3>
        <hr>
        
        <!-- left -->
        <div class="columns medium-6">

            <div class="row">
                <div class="columns small-6"><h4>Difficulty</h4></div>
                <div class="columns small-6">
                    <select ng-model="settingsUI.difficulty">
                        <option value="Insanity">Insanity</option>
                        <option value="Hard">Hard</option>
                        <option value="Medium">Medium</option>
                        <option value="Easy">Easy</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Aim Assist</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="aimAssist" type="checkbox" ng-model="settingsUI.aimAssist">
                      <label for="aimAssist"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Gore</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="gore" type="checkbox" ng-model="settingsUI.gore">
                      <label for="gore"></label>
                    </div>
                </div>
            </div>

        </div>


        <!-- right -->
        <div class="columns medium-6">

            <div class="row">
                <div class="columns small-6"><h4>Show HUD</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="showHUD" type="checkbox" ng-model="settingsUI.showHUD">
                      <label for="showHUD"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Show Player Names</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="showPlayerNames" type="checkbox" ng-model="settingsUI.showPlayerNames">
                      <label for="showPlayerNames"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Show NPC Names</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="showNPCNames" type="checkbox" ng-model="settingsUI.showNPCNames">
                      <label for="showNPCNames"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>