<div class="video_bg"></div>
<div class="row panel">
    <!-- <div class="saveicon right">
        <i class="fi-cloud"></i>
    </div> -->
    <div class="columns large-12">
        <h3>Video</h3><hr>

        <!-- left -->
        <div class="columns medium-6">

            <div class="row">
                <div class="columns small-6"><h4>Display Mode</h4></div>
                <div class="columns small-6">
                    <select ng-model="settingsUI.displayMode">
                        <option value="Fullscreen">Fullscreen</option>
                        <option value="Window">Window</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Aspect Ratio</h4></div>
                <div class="columns small-6">
                    <select ng-model="settingsUI.aspectRatio">
                        <option value="16:9">16:9</option>
                        <option value="16:10">16:10</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Resolution</h4></div>
                <div class="columns small-6">
                    <select ng-model="settingsUI.resolution">
                        <option value="2560×1440">2560×1440</option>
                        <option value="1920x1080">1920x1080</option>
                        <option value="1280×720">1280×720</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Vertical Sync</h4></div>
                <div class="columns small-6">
                    <div class="switch">
                      <input id="vSync" type="checkbox" ng-model="settingsUI.vSync">
                      <label for="vSync"></label>
                    </div>
                </div>
            </div>

        </div>


        <!-- right -->
        <div class="columns medium-6">

            <div class="row">
                <div class="columns small-6"><h4>Antialiasing</h4></div>
                <div class="columns small-6">
                    <select ng-model="settingsUI.antialiasing" convert-to-number>
                        <option value="2">2x</option>
                        <option value="4">4x</option>
                        <option value="8">8x</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Anisotropic Filtering</h4></div>
                <div class="columns small-6">
                    <select ng-model="settingsUI.anisotropicFiltering" convert-to-number>
                        <option value="2">2x</option>
                        <option value="4">4x</option>
                        <option value="8">8x</option>
                        <option value="16">16x</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Brightness</h4></div>
                <div class="columns small-6">
                    <!-- <div class="range-slider" data-slider>
                        <span class="range-slider-handle" role="slider" tabindex="0"></span>
                        <span class="range-slider-active-segment"></span>
                        <input type="hidden" id="brightness" ng-model="settingsUI.brightness">
                    </div> -->
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.brightness"/>
                </div>
            </div>

            <div class="row">
                <div class="columns small-6"><h4>Gamma</h4></div>
                <div class="columns small-6">
                    <!-- <div class="range-slider" data-slider>
                        <span class="range-slider-handle" role="slider" tabindex="0"></span>
                        <span class="range-slider-active-segment"></span>
                        <input type="hidden" id="gamma" ng-model="settingsUI.gamma">
                    </div> -->
                    <input type="range" min="0" max="100" class="range-slider" ng-model="settingsUI.gamma"/>
                </div>
            </div>

        </div>
    </div>
</div>